<section class="vh-100" style="background-color: #3c404b17">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h2 class="mb-5">Login</h2>

            <form [formGroup]="loginForm" (ngSubmit)="submit()">
              <mdb-form-control class="form-outline mb-4">
                <input
                  mdbInput
                  type="email"
                  id="form1"
                  class="form-control"
                  formControlName="email"
                />

                <label mdbLabel class="form-label" for="form1">Email</label>
              </mdb-form-control>
              <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                <div *ngIf="fc.email.errors.required">
                  El campo es obligatorio!
                </div>
                <div *ngIf="fc.email.errors.email">El correo es invalido</div>
              </div>

              <mdb-form-control class="form-outline mb-4">
                <input
                  mdbInput
                  type="password"
                  id="form2"
                  class="form-control"
                  formControlName="password"
                />
                <label mdbLabel class="form-label" for="form2">Password</label>
              </mdb-form-control>
              <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                <div *ngIf="fc.password.errors.required">
                  El campo es obligatorio!
                </div>
              </div>
              <button
                class="btn btn-danger btn-lg btn-block mt-5"
                type="submit"
              >
                Login
              </button>
              <span>{{ message }}</span>
            </form>

            <p class="mt-5">
              Aun no tienes una cuenta, <a href="">Registrate aqui!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
