div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: white !important;
}

input {
  border-radius: 8px 0 0 8px;
  border: none;
  height: 3rem;
  width: 80%;
  background-color: #f1f1f1;
  padding: 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
}

div button {
  color: grey;
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 0 8px 8px 0;
  border: none;
  background-color: #c75034;
  opacity: 0.9;
  color: white;
  outline: none;
}

div button:hover {
  opacity: 0.7;
  cursor: pointer;
}

h3 {
  color: #c75034;
}
