.text-danger {
  color: #f16858;
}

.btn-danger {
  background-color: #f16858;
}

span {
  background-color: #3c404ba4;
  color: white;
  margin-left: 5px;
  padding: 4px 9px;
  border-radius: 10px;
  font-size: 14px;
}

.logo-home-contenedor {
  margin-top: 80px;
  text-align: center;
}

.logo-home {
  width: 300px;
}

.titulo {
  color: #3c404ba4;
  font-size: 30px;
}
