.empresas-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

section {
  background-color: rgba(169, 169, 169, 0.4);
}

.card-header {
  color: lightslategray;
}

h5 {
  color: #f16858;
}

h1 {
  text-align: center;
}
